body
{
	text-align:center;
	font-family:Arial;
	color:#2E2E2E;
	font-size:15pt;
	
}
#container
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:360px;
	

}

#top
{
	position:relative;
	width:110%;
	height:40px;
	padding:2px;
	background-color:#B40404;
	#border:1px solid #B40404;
	text-align:center;
	font-family:Verdana;
	color:black;
	font-size:22pt;
	color:white;
}

#login_form
{
	position:relative;
	width:100%;
	height:230px;
	#border:1px solid #D3D3D3;
	padding:20px;	
	font-family:Verdana;
	color:black;
	font-size:15pt;
	
	background-color:#D8D8D8;
}



#welcome_message
{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
}

.error
{
	margin:0 auto;
	border:3px solid #d3153b;
	background-color:#fbe6f2;
	padding:5px;
	width:80%;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
	
}

.form_field_label
{
	float:left;
	margin-left:20px;
	width:30%;
}

.form_field
{
	float:left;
	width:40%;
}

#submit_button
{
	position:absolute;
	bottom:100px;
	right:60px;
	font-size:20px;
	padding-top: 10px;
	
}

input
{
	font-family:Arial;
}

